*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
    .container header{
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }
.container header::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    min-height: 490px;
    background-color: #fff;
}
.container form .details{
    margin-top: 10px;
}
.container form .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 6px;
    color: #333 ;
}